/* Detail page */
.col-lg-8.col-xlg-9 div.card {
  min-height: 75vh;
}

/* Timeline */
.profiletimeline {
  position: relative;
  margin: 0px 20px;
  border: none;
  padding: 0;
}
.calendar-head-cell-blank, .calendar-time {
    flex: 1 1;
}
.subhead {
    font-size: 14px;
}    
.calendar-head {
    background-color: #212529;
    display: flex;
    padding: 10px 0;
    width: 100%;
    border-radius: 5px 5px 0 0;
    color: white;
}
.calendar-head-cell {
    flex: 1 1;
    justify-content: center;
    text-align: center;
}
.calendar-body {
    display: flex;
    border-radius: 0 0 5px 5px;
    border: 1px solid #ddd;
    overflow: hidden;
}
.caldendar-time-cell:first-child {
    visibility: hidden;
}
.caldendar-time-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.calendar-cell-container, .calendar-week-day {
    display: flex;
    flex: 1 1;
    flex-direction: column;
}
.calendar-week-day .calendar-cell-container:first-child {
    border-top: 0;
}    
.caption {
    font-size: 12px;
}
.calendar-cell-container {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.calendar-cell {
    flex: 1 1;
}
.opening-time.editable .calendar-cell {
    cursor: pointer;
}
.calendar-cell.calendar-cell-actived {
    background: #7ec937;
}
